.underline:hover {
    text-decoration: underline;
}

.date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;  
    font-size: small;
}

.dark-light-mode-icon{
    width: 20px;
    height: 20px;
    margin:0 15px 0 15px;
    cursor: pointer;
}



